include pirower/packageData/resources/ghost_large/drive/rower_pos4.png
include pirower/packageData/resources/ghost_large/drive/rower_pos7.png
include pirower/packageData/resources/ghost_large/drive/rower_pos9.png
include pirower/packageData/resources/ghost_large/drive/rower_pos8.png
include pirower/packageData/resources/ghost_large/drive/rower_pos10.png
include pirower/packageData/resources/ghost_large/drive/rower_pos11.png
include pirower/packageData/resources/ghost_large/drive/rower_pos6.png
include pirower/packageData/resources/ghost_large/drive/rower_pos1.png
include pirower/packageData/resources/ghost_large/drive/rower_pos3.png
include pirower/packageData/resources/ghost_large/drive/rower_pos0.png
include pirower/packageData/resources/ghost_large/drive/rower_pos2.png
include pirower/packageData/resources/ghost_large/drive/rower_pos5.png
include pirower/packageData/resources/ghost_large/drive/rower_pos12.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos4.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos7.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos9.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos8.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos10.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos11.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos6.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos1.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos3.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos0.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos2.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos5.png
include pirower/packageData/resources/ghost_large/recovery/rower_pos12.png
include pirower/packageData/resources/fish/fish5_small.png
include pirower/packageData/resources/fish/fish4_small.png
include pirower/packageData/resources/fish/fish1_small.png
include pirower/packageData/resources/fish/fish3_small.png
include pirower/packageData/resources/fish/fish2_small.png
include pirower/packageData/resources/player_large/drive/rower_pos4.png
include pirower/packageData/resources/player_large/drive/rower_pos7.png
include pirower/packageData/resources/player_large/drive/rower_pos9.png
include pirower/packageData/resources/player_large/drive/rower_pos8.png
include pirower/packageData/resources/player_large/drive/rower_pos10.png
include pirower/packageData/resources/player_large/drive/rower_pos11.png
include pirower/packageData/resources/player_large/drive/rower_pos6.png
include pirower/packageData/resources/player_large/drive/rower_pos1.png
include pirower/packageData/resources/player_large/drive/rower_pos3.png
include pirower/packageData/resources/player_large/drive/rower_pos0.png
include pirower/packageData/resources/player_large/drive/rower_pos2.png
include pirower/packageData/resources/player_large/drive/rower_pos5.png
include pirower/packageData/resources/player_large/drive/rower_pos12.png
include pirower/packageData/resources/player_large/recovery/rower_pos4.png
include pirower/packageData/resources/player_large/recovery/rower_pos7.png
include pirower/packageData/resources/player_large/recovery/rower_pos9.png
include pirower/packageData/resources/player_large/recovery/rower_pos8.png
include pirower/packageData/resources/player_large/recovery/rower_pos10.png
include pirower/packageData/resources/player_large/recovery/rower_pos11.png
include pirower/packageData/resources/player_large/recovery/rower_pos6.png
include pirower/packageData/resources/player_large/recovery/rower_pos1.png
include pirower/packageData/resources/player_large/recovery/rower_pos3.png
include pirower/packageData/resources/player_large/recovery/rower_pos0.png
include pirower/packageData/resources/player_large/recovery/rower_pos2.png
include pirower/packageData/resources/player_large/recovery/rower_pos5.png
include pirower/packageData/resources/player_large/recovery/rower_pos12.png
